/****** TAG SELECTORS *******/

body {
    background-color: hsl(212, 45%, 89%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

h2 {
    text-align: center;
    width: 85%;
    margin: 10px auto 30px;
}

p {
    font-size: 15px;
    text-align: center;
    width: 80%;
    margin: 10px auto 20px;
}



/****** CSS SELECTORS *******/

.attribution {
    background-color: hsl(0, 0%, 100%);
    font-size: 15px;
    text-align: center;
    width: 30%;
    margin: 100px auto;
    border-radius: 18px;
    padding: 12px 3px 60px 3px;
}


.qr-code {
    width: 95%;
    height: 70%;
    border-radius: 15px;
    margin-bottom: 30px;
}

